<!DOCTYPE html>
<html lang="eng">
<head>
	<title>	Python Flask App</title>


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">>
	<link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css">>
</head>
<body>
	<div class="container">	
		<div class="header">
			<nav>
				<ul class="nav"> 	
					<li role='presentation'><a href="#">Login </a></li>
				</ul>	
			</nav>
			<h3 class='text-muted'>Portfólio Ciência de Dados- Bruno Caraffa</h3>
			</div>

		<div class="jumbotron">
				<h1>Acompanhe meu Portfólio de Projetos.</h1>
				<p class='lead'></p>				
				<p class='lead'></p>
				<p>	<a class="btn btn-success"  href="showSignUp" role='button'> Faça seu cadastro!</a></p>
			</div>

		<div class='row marketing'>	
			<div class='col-lg-6'>	
			<h4> Projeto 1</h4>
			<p>	BarChart Race do COVID-19 no DF</p>
			<h4> Projeto 2</h4>
			<p>	Detecção dos sentimentos em imagens com redes neurais convolucionais</p>
			<h4> Projeto 3</h4>
			<p>	Previsão da ocorrência de diabetes com Machine Learning</p>
		</div>
			<div class='col-lg-6'>	
			<h4> Projeto 4</h4>
			<p>	Extração Automatizada de dados do ERP Bling via API</p>
			<h4> Projeto 5</h4>
			<p>	Análise Exploratória de uma base de carros usados</p>
			<h4> Projeto 6</h4>
			<p>	Regressão linear usando o TensorFlow</p>
		</div>
		</div>
				<footer class='flooter'>
				<p>&copy; Bruno Caraffa 2021</p></footer>

</div>
</body>
</html>